<ion-header>
    <ion-navbar color="primary">
        <ion-title>User Registration</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset>
        <ion-item class="login-item" *ngIf="isUsernameVisible">
            <ion-label floating style="font-size: 18px">Username</ion-label>
            <ion-input type="text" name="username" [(ngModel)]="txtUsername"></ion-input>
        </ion-item>
        <ion-item class="login-item" *ngIf="isQuestionVisible">
            <ion-label floating style="font-size: 18px">Security Question</ion-label>
            <ion-input type="text" name="answer" readonly [(ngModel)]="question.Question" required></ion-input>
        </ion-item>
        <ion-item class="login-item" *ngIf="isQuestionVisible">
            <ion-label floating style="font-size: 18px">Answer</ion-label>
            <ion-input type="text" name="answer" [(ngModel)]="txtAnswer" (input)="answerChange($event)" required></ion-input>
        </ion-item>
        <ion-item class="login-item" *ngIf="isPasswordVisible">
            <ion-label floating style="font-size: 18px">Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="txtPassword" required></ion-input>
        </ion-item>
        <ion-item class="login-item" *ngIf="isPasswordVisible">
            <ion-label floating style="font-size: 18px">Confirm Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="txtConfirmPassword" (input)="passwordChange($event)" required></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button full large color="primaryDarkColor" style="margin-top: 15%" type="button" (click)="onSubmit()" [disabled]="isButtonDisabled">Submit</button>
</ion-content>