// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

@font-face{
  font-family: futuraMedium;
  src : url($font-path+'/Futura_Medium.TTF');
}

@font-face{
  font-family : futuraRegular;
  src : url($font-path+'/ShellFuturaBook.ttf');
}

@font-face{
  font-family: futuraMedium;
  src : url($font-path+'/Futura_Medium.TTF');
}

@font-face{
  font-family: futuraHeavy;
  src :url($font-path+'/Future_Heavy.TTF');
}

@font-face{
  font-family: futuraLight;
  src : url($font-path+'/Future_Light.TTF');
}


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f44336,
  secondary:  #37464f,
  danger:     #ba000d,
  light:      #62717b,
  dark:       #101f27,
  primaryLightColor: #ff7961,
  primaryDarkColor:#ba000d,
  primaryTextColor:#404040,
  secondaryTextColor:#CCCCCC,
  backgroundColor:#E1E2E1
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
